<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="well">
      <h3>Editar perfil</h3>
      <%= form_for @user do |f| %>
        <div class="form-group">
          <%= f.label :avatar %>
          <br>
          <%= render 'shared/avatar', user: @user %>
          <br>
          <br>
          <%= f.file_field :avatar %>
        </div>
        <div class="form-group">
          <%= f.label :cover %>
          <br>
          <%= render 'shared/cover', user: @user %>
          <br>
          <%= f.file_field :cover %>
        </div>
        <div class="form-group">
          <%= f.label :Nombre_completo %>
          <%= f.text_field :name, placeholder: 'Nombre completo', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :Acerca_de_ti %>
          <%= f.text_area :about, placeholder: 'Acerca de ti', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :Locación %>
          <%= f.text_field :location, placeholder: 'Locación', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :Número_de_teléfono %>
          <%= f.text_field :phone_number, placeholder: 'Número de teléfono', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :fecha_de_nacimiento %>
          <%= f.text_field :dob, placeholder: 'Fecha de nacimiento', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :sexo %><br>
          <%= f.select :sex, options_for_seasons, class: 'form-control', prompt: 'Selecciona uno' %>
        </div>
        <div class="actions">
          <%= submit_tag 'Actualizar', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>